*{color:#fff}
.home{
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(https://image.freepik.com/free-photo/dark-blue-product-background_53876-92801.jpg);
    padding-top: 35rem;
}

.me{
    width: 31rem;
    box-shadow: 0 6rem 4rem -4rem black;
}

.home__row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home__text{
    padding-top: 20rem;
    margin-left: 4rem;
}
  .name {
      display: inline;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #3bdad2,
      transparent
    );
    text-transform: uppercase;
    font-size: 4rem;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #00C9C8,
      -0.2rem 0.1rem 1rem #00C9C8, 0.2rem 0.1rem 1rem #00C9C8,
      0 -0.5rem 2rem #00C9C2, 0 0.5rem 3rem #00C9C2;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #00C9C8,
        -0.2rem 0.1rem 1rem #00C9C8, 0.2rem 0.1rem 1rem #00C9C8,
        0 -0.5rem 2rem #00C9C2, 0 0.5rem 3rem #00C9C2;
    }
    28%,
    33% {
      color: #00C9C8;
      text-shadow: none;
    }
    82%,
    97% {
      color: #00C9C2;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    margin-left: 2rem;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
    margin-left: 2rem;
  }
  
  @keyframes shine {
    0% {
      color: #10C9C2;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #00C9C8,
        -0.2rem 0.1rem 1rem #00C9C8, 0.2rem 0.1rem 1rem #00C9C8,
        0 -0.5rem 2rem #00C9C2, 0 0.5rem 3rem #00C9C2;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
  /* profession container */

  .console-container {
    font-size:3.2rem;
    display: inline;
    margin-left: 1rem;
  }
  .console-underscore {
     display:inline-block;
  }
 